ul {
  list-style-type: none;
  text-decoration: none;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: start;
  height: 80%;
}

.nav {
  background-color: rgb(11, 1, 37);
  text-align: center;
  font-size: 25px;
  font-family: Helvetica;
  padding: 50px;
  display: fixed;
  width: 100px;
}

li a:hover {
  background-color: blue;
  color: red;
}

a {
  text-decoration: none;
  color: white;
}

li {
  margin-bottom: 20px;
}

.main-div {
  display: flex;
  height: 100vh;
  gap: 20px;
  flex-direction: row-reverse;

}
